*{
    margin: 0;
    padding: 0;
    border: border-box;
    
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

}

.section-p1 {
padding:40px 80px;
}
.section-m1 {
padding:40px 0px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:20px 80px ;
    background-color: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index:999;
    position:sticky;
    top: 0;
    left: 0;
  

}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar li{
   list-style: none;
   padding: 0 20px;
    position: relative;
}
.navbar li a{
    text-decoration: none;
    font-size: 15px;
    font-weight: bolder;
    color: #1a1a1a;
    transition: 0.3s ease;
}

.navbar li a:hover
{
        color: #088178;
}


.navbar li a:hover::after{

    content: "";
    width: 30%;
    height: 2px;
    background-color:#088178 ;
    position:absolute;
    bottom: -4px;
    left: 20px;
}

.hero{
    background-image: url("img/hero4.png");
    background-size: cover;
    background-position: top 25% right 0;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;


}
.hero-part{
    padding: 0 80px;
}
.hero-part h4{
    /* padding-bottom: 5px; */
    font-size: 20px;
}
.hero-part h2{
    font-size: 60px;
    
}
.hero-part h1{
    font-size: 40px;
    color: #088178;
    padding-bottom: 5px;

}
.hero-part p{
    font-size: 30px;
    color:gray;
    padding-bottom: 5px;

}
.hero-part button{
   background-image: url(img/button.png);
   background-repeat: no-repeat;
   background-color: transparent;
   cursor: pointer;
   font-size: 15px;
   font-weight: 600;
   color:#088178;
   padding: 14px 80px 14px 65px;
   border: 0;


}

.feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.feature .fe-box{
    width: 150px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}
.feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221 ,0.1);

}
.feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}
.feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    border-radius: 4px;
    line-height: 1;
    color: #088178;
    background-color:  #cdebfe;


}
.feature .fe-box:nth-child(2) h6{
    background-color: #fdddef;
}
.feature .fe-box:nth-child(3) h6{
    background-color: #cdeb88bc;
}
.feature .fe-box:nth-child(4) h6{
    background-color: #ffde55;
}
.feature .fe-box:nth-child(5) h6{
    background-color: #cce7d0;
}
.feature .fe-box:nth-child(6) h6{
    background-color: #cdebbc;
}

.product-container{
text-align: center;
}
.product-container .product-cart-contanier{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
}

.product-cart{
    /* width: 23%; */
    max-width: 250px;
    border: 1px solid #cce7d0;
    padding: 10px 12px;
    cursor: pointer;
    margin: 10px 0;
    border-radius: 25px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.03);
    transition: 0.2s ease;
    position: relative;

}
.product-cart:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);

}
.product-cart a{
    text-decoration: none;
}
.product-cart img{
    width: 100%;
    border-radius: 20px;
}
.product-cart .cart-des {
    text-align: start;
    padding: 10px 0;
}
.product-cart .cart-des h5{
    font-size: 14px;
    padding-top: 7px;
    color: #1a1a1a;
}
.product-cart .cart-des span{
    color: #1a1a1a;
    font-size: 15px;

}
.product-cart .cart-des i{
    font-size: 12px;
    color:gold ;
}
.product-cart .cart-des h4{
    font-size: 14px;
    padding-top: 7px;
    color: #088178;
    font-weight: 700;
}
.product-container #cart{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    color: #088178;
    line-height: 40px;
    border: 1px solid #cce7d0;
    font-weight: 500;
    position: absolute;
    bottom: 20px;
    right: 20px;

}

.banner{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: url('img/banner/b2.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 40vh;
}
.banner h4{
    color: #fff;
    font-size: 20px;
}
.banner h2{
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
}
.banner h2 span{
    color: brown;
    
}
.banner button{
    font-size: 15px;
    font-weight: 600;
    padding: 15px 30px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    outline: none;
    border: none;
    transition: 0.2s;
    border-radius: 4px;
}
.banner button:hover{
    background-color: #088178;
    color: #cce7d0;
}
.sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sm-banner .banner-box{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    background-image: url('img/banner/b17.jpg');
    background-position: center;
    background-size: cover;
    min-width: 580px;
    height: 50vh;
    padding-left: 10px;
}
.sm-banner .banner-box2{
    background-image: url('img/banner/b10.jpg');

}
.banner-box button{
    font-size: 15px;
    font-weight: 600;
    padding: 15px 30px;
    background-color: transparent;
    color: #000;
    cursor: pointer;
    outline: none;
    border: 2px solid #fff;
    transition: 0.2s;
    border-radius: 4px;
}
.banner-box:hover button{
    background-color: #088178;
    color: #cce7d0;
    border: 2px solid #088178;

}

.banner-box h4{
    color: #fff;
    font-size: 15px;
}
.banner-box h2{
    color: #fff;
    font-size: 25px;
}
.banner-box  span{
    color: ghostwhite;
    padding: 5px 0;
    font-size: 15px;
    
}
.banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}
.banner3 .banner-box {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    background-image: url('img/banner/b7.jpg');
    background-position: center;
    background-size: cover;
    min-width: 30%;
    height: 30vh;
    padding-left: 20px;
    margin-bottom: 20px;
}
.banner3 .banner-box2{
    background-image: url('img/banner/b4.jpg');

}
.banner3 .banner-box3{
    background-image: url('img/banner/b18.jpg');

}
.banner3 h3{
    color: brown;
    font-weight: 800;
    font-size: 15px;
}
.newsletter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background-image: url('img/banner/b14.png');
    background-position: 20% 30%;
    background-repeat: no-repeat;
    background-color: #041e42;
    margin: 20px 0;
}
.newsletter p{
    color: #fff;
    font-weight: 500;
    font-size: 14px;
}
.newsletter h4{
    color: #fff;
    font-weight: 800;
    font-size: 18px;
}
.newsletter span{
    color: goldenrod;
   
}
.newsletter .sign{
    display: flex;
    width: 40%;
}
.newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    outline: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
   
}
.newsletter button{

        font-size: 15px;
        font-weight: 600;
        padding:0 30px;
        background-color: #088178;
        color: #fff;
        cursor: pointer;
        outline: none;
        border: none;
        transition: 0.2s;
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;

  
    
}

footer{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
footer .col{
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    flex-direction: column;
}
footer .logo{
margin-bottom: 30px;
}
footer h4{
    font-size: 14px;
    padding-bottom: 20px;
    }
    footer p{
        font-size: 14px;
       margin: 0 0 8px 0;
        } 
        footer a{
            font-size: 13px;
            text-decoration: none;
            color: #222;
            margin-bottom: 10px;
            }
            footer .follow{
                
                margin-top: 20px;
                }
                footer .follow i{
                
                 color: #465b52;
                 cursor: pointer;
                 padding-right: 4px;
                    }
                    footer .col-install .row img{
                        border: 1px solid #088178;
                       border-radius: 4px;
                    }
                    footer .col-install img{
                     margin: 10px 0 15px 0;
                    }
                    footer .follow i:hover,
                    footer  a:hover
                    {
                    color: #088178;
                       }
                       footer .copyright{
                        width: 100%;
                       text-align: center;
                       color: grey;
                       font-weight: 900;
                       }


                       /* //shop design */
 .shop-hero{
    background-image: url('img/banner/b1.jpg');
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    /* padding: 14px; */
 } 
 .shop-hero h2,
 .shop-hero p{
    color: #fff;
 }
.shop-pagination {
text-align: center;

}
.shop-pagination a{
    background-color: #088178;
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: 600px;

}
.shop-pagination i{
    font-size: 20px;
    font-weight: 600px;
}
.product-details{
    display: flex;
    margin-top: 20px;
}

.product-details .single-product-img{
    width: 40%;
    margin-right: 50px;
}
.small-img-group{
display: flex;
justify-content:flex-start;
flex-direction: row;
align-items: flex-start;

}
.small-img-col{
    height: 115px;
    width: 115px;
    margin-right: 5px;
    cursor: pointer;
}

.product-details  .right-product-deatail{
    width: 50%;
    padding-top: 30px;
}

.product-details  .right-product-deatail h4{
 padding: 20px 0 10px 0;
}

.product-details  .right-product-deatail h2{
    font-size: 20px;
   }

.product-details  .right-product-deatail select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
   }

   .product-details  .right-product-deatail input{
   height:40px ;
   width: 30px;
   font-size: 15px;
   padding-left: 10px;
   margin-right: 10px;
   }

   .product-details  .right-product-deatail input:focus{
   outline: none;
    }
    .product-details  .right-product-deatail select:focus{
        outline: none;
         }
   .product-details  .right-product-deatail button{
    font-size: 15px;
    font-weight: 600;
    padding: 15px 30px;
    background-color: #fff;
    color: #fff;
    cursor: pointer;
    outline: none;
    border: none;
    transition: 0.2s;
    border-radius: 4px;
    background: #088178;
}



/* blog//// */

.blog-hero{
    background-image: url('img/banner/b19.jpg');
    height: 40vh;
    background-size: cover;
    background-position: 0 -30px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    padding: 14px;
 } 
 .blog-hero h2,
 .blog-hero p{
    color: #fff;
 }

 .blog {
    padding: 150px  150px 0 150px;
 }
 
 .blog .blog-box{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;

 }
.blog-img img{
    width: 500px;
    height: 300px;
    object-fit: cover;
}
.blog-details{
   width: 60%;
   margin-left: 15px;
  
   
}

.blog .blog-details a{
   text-decoration: none;
   font-size: 20px;
   padding: 10px 0;
   font-weight: 700;
   color: #000;
  transition: 0.2s ease-in;
  position: relative;

 } 

  .blog .blog-details a::before{
    content: '';
    width: 50px;
    height: 3px;
    position: absolute;
    color: #000;
    background-color: #000;
    top: 30px ;
    right: -60px;
  } 
  .blog .blog-details a::after{
    content: '';
    width: 50px;
    height: 3px;
    position: absolute;
    color: #000;
    background-color: #000;
    top: 30px ;
    right: -60px;
  } 
  .blog .blog-details a:hover{
    
    color: #088178;
  } 
  .blog .blog-details a:hover::after{
    
    background-color: #088178;
  } 
 .blog .blog-details p{
    padding: 10px 0;
  } 


  /* abouts page */

  .about-hero{
    background-image: url('img/about/banner.png');
    height: 40vh;
    background-size: cover;
    background-position: 0 -30px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    padding: 14px;
 } 
 .about-hero h2,
 .about-hero p{
    color: #fff;
 }
 .about-head{
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .about-head img{
    width: 50%;
    height: auto;
 }
 .about-head div{
    padding: 0 0 0 40px ;
 }

 .about-app{
    text-align: center;
 }
 .about-app .video{
    width: 70%;
    height: 100%;
    margin: 30px auto 0 auto;
 }
 .about-app .video video{
    width: 100%;
    height: 100%;
    border-radius: 20px;
 }


 /* contact page */

 .contact-hero{
    background-image: url('img/about/banner.png');
    height: 40vh;
    background-size: cover;
    background-position: 0 -30px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    padding: 14px;
 } 
 .contact-hero h2,
 .contact-hero p{
    color: #fff;
 } 


 .contact-detail{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 .contact-detail .details{
    width: 40%;
 }
 .contact-detail .details span{
   font-size: 15px;
   color: gray;
 }
 .contact-detail .details h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
  }
  .contact-detail .details h3{
    font-size: 18px;
   padding-bottom: 15px;
  }

  .contact-detail .details li{
   list-style: none;
   display:flex ;
   padding: 10px 0;
   color: gray;

  }

  .contact-detail .details li i{

   font-size: 18px;
   padding-right: 20px;

   }

.contact-detail .details li p{
 margin: 0;
 font-size: 15px;

}

.contact-detail .map{
 width: 55%;
height: 440px;
    
}

.contact-detail .iframe{
 width: 100%;
 height: 100%;
        
    }

.form-detail{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 30px;
    border: 1px solid #cdebfe;
}

.form-detail  form{
    width: 50%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}   
.form-detail  span{
    font-size: 20px;
    color: #088178;
    padding-bottom: 15px;
} 
.form-detail  form input{
    width: 100%;
   outline: none;
   padding: 12px 15px;
   margin-bottom: 20px;
   border: 1px solid #cdebfe;
    
}          
.form-detail  form textarea{
    width: 100%;
   outline: none;
   padding: 12px 15px;
   margin-bottom: 20px;
   border: 1px solid #cdebfe;
    
}          

.form-detail  form button{

    font-size: 15px;
    font-weight: 600;
    padding:15px 30px;
    background-color: #088178;
    color: #fff;
    cursor: pointer;
    outline: none;
    border: none;
    transition: 0.2s;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;



}
.form-detail .people div {
   display: flex;
   align-items: flex-start;
   margin-bottom: 20px;
    
    }

.form-detail .people div img{
width: 65px;
height: 65px;
object-fit: cover;
margin-right: 15px;

}

.form-detail .people div p{
   font-size: 15px;
   font-weight: 500;
   line-height: 25px;
    
    }
    

/* wishlist */

.cart table{
width: 100%;
border-collapse: collapse;
table-layout: fixed;
white-space:nowrap ;
}

.cart table img{
    width: 70px;
}

.cart table td:nth-child(1){
    width: 100px;
    text-align: center;
}

.cart table td:nth-child(2){
    width: 150px;
    text-align: center;
}

.cart table td:nth-child(3){
    width: 250px;
    text-align: center;
}

.cart table td:nth-child(4),
.cart table td:nth-child(5),
.cart table td:nth-child(6){
    width: 150px;
    text-align: center;
}

.cart table td:nth-child(5) input{
width: 70px;
padding: 10px 5px 10px 15px;
}
.cart table thead{
    border: 1px solid #cce7d0;
    border-left: none;
    border-right: none;
}
.cart table thead td{
font-weight: 700;
text-transform: uppercase;
font-size: 13px;
padding: 18px 0;

}
.cart table tbody tr td{
    padding-top: 20px;
}
.cart table tbody td{
   font-size: 15px;
}

.cart-add{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.coupen{
    width: 50%;
    margin-bottom: 30px;
}
.coupen h3{
    padding-bottom: 15px;
}
.coupen input{
    padding: 10px 20px;
    width: 60%;
    outline: none;
    border: 1px solid #cdebfe;
}
.coupen button{
    font-size: 15px;
    font-weight: 600;
    padding: 10px 20px;
    background-color: #cdebfe;
    color: gray;
    cursor: pointer;
    outline: none;
    border: none;
    transition: 0.2s;
    border-radius: 4px;
}

 .subtotal{
    width: 30%;
    border: 1px solid #088178;
     margin-bottom: 30px; 
     padding: 30px;
 }
 .subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
   
 }
 .subtotal table td{
    width: 50%;
    border: 1px solid #088178;
     padding: 10px;
     font-size: 20px;
 }

 .subtotal button{
    font-size: 15px;
    font-weight: 600;
    padding: 10px 20px;
    background-color: #088178;
    cursor: pointer;
    outline: none;
    border: none;
    transition: 0.2s;
    border-radius: 4px;
}